.apresentacao {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--primary-color);
    z-index: 9999;
    opacity: 1;
    animation: onda 1s linear infinite;
}

@keyframes onda {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.apresentacao-conteudo {
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}

.apresentacao.oculto {
    opacity: 0;
    pointer-events: none;
}

#text-apresent {
    transition: 1s;
    font-size: 5em;
    animation: openText 2s ease-in;
    font-weight: 100;
}

@keyframes openText {
    0% {
        font-size: 20em;
    }
    100% {
        font-size: 5em;
    }
}

#logo_apresention {
    filter: brightness(2);
    width: 10em;
}