.background-color-sign {
    position: fixed;
    background-color: var(--primary-color);
    top: 0;
    right: 0;
    width: 45%;
    min-height: 100vh;
    max-height: 720px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 100%);
    z-index: -1;
}

.container-sign {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.title-sign {
    font-family: var(--font-Krona);
    font-size: 1.5rem;
    font-weight: 500;
    width: 100%;
    height: 100%;
}

.subtitle-sign {
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
}

.left-sign {
    background: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 55%;
    gap: 1.5rem;
    margin-block: 5em;
    height: auto;
}

#singup-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
}

.singup-field {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

.signup-field #form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.input-field-sign {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-field label {
    color: var(--black-color);
    font-weight: 500;
}

.user,
.email,
.password {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    background: var(--gray-color);
    border: 2px solid transparent;
    outline: none;
    border-radius: 2px;
    color: var(--black-color);
    font-family: var(--font-Krub);
}

.user:focus,
.email:focus,
.password:focus {
    border: 2px solid var(--secondy-color);
}

.password-container {
    position: relative;
}

#see-password-cadaster {
    position: absolute;
    top: 18px;
    right: 20px;
    cursor: pointer;
    color: var(--primary-color);
}

.singup-btn {
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 1px;
    cursor: pointer;
    background: var(--primary-color);
    color: var(--white-color);
    border: none;
    transition: .8s;
    font-weight: bold;
}

.singup-btn:hover {
    background-color: var(--hover-color);
}

.right-sign {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;

}

.container-logo-sign {
    display: flex;  
    justify-content: end;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 2em;
}

.logo-sign {
    width: 5em;
}

.logo-name {
    color: var(--white-color);
    font-size: 2rem;
    font-style: var(--font-Krona);
}


#container-img-cadaster {
    display: flex;
    width: 25em;
    height: 70%;
    align-items: end;
}

.right-image {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    height: 100%;
    width: 100%;
    animation: floatAnimation 4s ease-in-out infinite alternate;
}

@media screen and (max-width: 752px) {
    .container-sign {
        flex-direction: column-reverse;
        min-height: auto;
    }

    .background-color-sign {
        width: 100%;
        clip-path: polygon(0% 0%, 100% 0%, 0% 100%, 0% 100%);
        z-index: 1;
        display: none;
    }

    .right-sign {
        width: 100%;
        background-color: var(--primary-color);
        transition: .5s;
    }

    .container-logo-sign {
        justify-content: center;
        font-size: 0.7rem;
        text-align: center;
        padding:.78em;    
          
    }

    .logo-sign {
        margin-top:2px;  
    }

    .container-logo-sign p {
        font-size: 1.5rem;
    }

    #container-img-cadaster {
        max-width: 50%;
        display: none;
    }

    .right-image {
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
    }

    .left-sign {
        width: 100%;
        height: 100%;
        margin: 1em auto;
        transition: .5s;
        padding: 1.5em;
        gap: 2em;
    }

    #singup-header {
        text-align: center;
        gap: 20px;
    }

    #singup-header h2 {
        font-size: 1.3em;
    }

    #singup-header p {
        font-size: 1em;
    }

    .singup-field {
        width: 100%;
        height: auto;
    }

    .singup-field #form {
        width: 100%;
    }

}

@media screen and (min-width:753px) and (max-width:1030px) {
    .right-sign {
        transition: .5s;
        display: block;
    }

    .container-logo-sign {
        width: 100%;
        text-align: center;
        padding: 1em;
        padding-top: 4rem;     
    }

    #container-img-cadaster {
        display: flex;
        width: 20em;
        height: 68%;
    }

    .right-image {
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 3em;
    }

    .left-sign {
        width: 50%;
        margin: 1em; 
        gap: 0;
        padding: 0;
    }

    #singup-header {
        padding-top: 4rem;
      }

}