#financial-container {
    background-color: var(--gray-color);
    height: 100vh;
    width: 100%;
    max-width: 1500px;
    overflow: auto;
    margin: 0 auto;
}

#financial-header {
    padding: 2rem 4rem;
    font-family: var(--font-Krona), sans-serif;
    animation: slideInUp 1s ease forwards;
    font-size: .8rem;
    color: var(--primary-color);
}

#financial-main {
    width: 95%;
    margin: 0 auto;
    padding-inline: 3rem;
    height: 100%;
}

.debts-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: auto;
}

.table-debts {
    width: 100% !important;
}

.debts-left {
    width: 55%;
}

.debts-card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    position: relative;
    padding-inline: 1rem;
}

.dbt-card-container {
    position: relative;
}

.dbt-circ {
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 1;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondy-color);
}

.debt-icon {
    font-size: 1.5rem;
}

.dbt-card {
    color: white;
    background: var(--primary-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15rem;
    height: 6rem;
    margin: 1rem;
    border-radius: 10px;
}

.dbt-card h1 {
    font-size: 2rem;
    margin-left: 1rem;
    font-weight: 500;
}

.dbt-card p {
    text-align: center;
}

#container-table-debts {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.head-list-fin tr {
    color: var(--white-color);
    font-size: 14px;
    text-align: center;
}

.head-list-fin {
    color: var(--white-color);
}

.body-list-prod tr td,
.head-list-fin tr td {
    height: auto !important;
    padding: 5px !important;
    justify-content: center;
    display: flex;
    align-items: center;
}

.debts-right {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    justify-content: center;
    background: var(--white-color);
    border-radius: 20px;
}

.debt-chart {
    margin-top: 2rem;
}

.debt-form ul li {
    display: flex;
    flex-direction: column;

}

.debt-title {
    text-align: center;
    margin-block: 2rem;
    font-weight: bold;
    color: var(--primary-color);
}

.debt-ranking {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-block: 3rem;
    align-items: center;
}

.debt-ranking-header {
    color: var(--primary-color);
    text-align: center;
}

.debt {
    max-height: 25rem !important;
    overflow-y: auto !important;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 30rem;
    background: var(--white-color);
}

.debt td {
    min-width: 100px;
}

.selection-container-debt {
    display: flex;
    justify-content: end;
    margin-block: 1rem;
}

.padding- .columns-debt {
    display: flex;
    width: 100%;
    border-radius: 10px;
    background: var(--white-color);
    gap: 1rem;
}

.columns-debt {
    display: flex;
    width: 100%;
    border-radius: 10px;
    background: var(--white-color);
    gap: 1rem;
}

.column-dbt {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding-block: 1rem;
    gap: 1rem;
    color: var(--primary-color);
    justify-content: center;
    align-items: center;
}

.graficColunm-financial {
    max-width: 400px;
    min-width: 400px;
    max-height: 400px;
}

.ranking {
    margin-bottom: 0;
}

#expense-types {
    display: flex;
    justify-content: space-between;
    margin-block: 3rem;
}

.dbt-forms {
    background-color: var(--white-color);
    border-radius: 10px;
    padding-block: 2rem;
    align-items: center;
    width: 40%;
    justify-content: center;
}

.expense-line {
    width: 55%;
    background-color: var(--white-color);
    height: 30rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.chart-line-exp {
    height: 100%;
    width: 100%;
}

.chartFinancialLine {
    max-width: 500px;
    min-height: 350px;
}

#expense-container {
    width: 100%;
}

#exp-form {
    display: flex;
    flex-direction: column;
}

#exp-form header {
    font-family: var(--font-Krona), sans-serif;
    animation: slideInUp 1s ease forwards;
    font-size: 1rem;
    color: var(--primary-color);
}

#search-expense {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 1rem;
}

#search-bar {
    display: flex;
    max-width: 400px;
    margin: 1rem 0;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    position: relative;
    width: 100%;
}

#search-bar:focus {
    border: 2px solid var(--secondy-color);
}

#search-exp {
    padding: .5rem .8rem;
    width: 100%;
    border-radius: 5px;
    border: 2px solid transparent;
    color: var(--black-color);
    font-family: var(--font-krub);
    font-weight: bold;
}

#search-exp:focus {
    border: 2px solid var(--secondy-color);
}

#search-exp:focus+#search-icon {
    color: var(--secondy-color) !important;
}

#search-icon {
    position: absolute;
    right: .5rem;
    bottom: 0.2em;
    color: var(--black-color);
    font-size: 1.2rem;
}

#search-exp:focus {
    outline: none;
}

#filter-expense {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: .8rem 2rem;
    background: transparent;
    border: none;
    border-radius: 5px;
    color: var(--primary-color);
    cursor: pointer;
    background-color: var(--white-color);
    font-family: var(--font-krub);
    max-width: 20ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#filter-expense:hover {
    cursor: pointer;
    background: var(--white-color);
    transition: .5s;
}

#result-expense {
    font-weight: bold;
    color: var(--primary-color);
    margin-block: 1rem;
}

#exp-cards {
    display: grid;
    gap: 1rem;
    margin: 0 auto;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    position: relative;
}

.edit-expense-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 40px;
    height: 40px;
    background: var(--white-color);
    border-radius: 10px;
    border: 1px solid var(--secondy-color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-expense-btn:focus {
    border: 1px solid transparent;
}

.edit-expense-btn svg {
    color: var(--secondy-color);
    font-size: 1rem;
}

.edit-expense-btn:hover {
    background-color: var(--gray-color);
}

.exp-card {
    background: var(--white-color);
    display: flex;
    flex-direction: column;
    color: var(--primary-color);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
    gap: 1.2rem;
    border-radius: 5px;
    border: 1px solid var(--secondy-color);
    transition: .5s;
    position: relative;
    padding: 1.5rem;
    font-family: var(--font-Krub);
}

#add-exp-card:hover svg,
#add-exp-card:hover p {
    color: var(--white-color) !important;
}

#add-exp-card:hover {
    background-color: var(--secondy-color) !important;
    cursor: pointer;
}

.exp-card i {
    font-size: 4rem;
}

.exp-desc {
    font-weight: 400;
}

.manager-btn button p {
    font-family: var(--font-Krub);
    font-weight: bold;
    margin-left: .5rem;
    color: var(--white-color);
}

.payment-item-mng {
    width: 100%;
    height: 30px;
    background: var(--white-color);
    border-radius: 5px;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondy-color);
}

.payment-item-mng:hover {
    background-color: var(--hover-color);
}

.payment-status {
    padding: .2rem 1rem;
    border-radius: 100px;
    font-family: var(--font-Krub);
    color: var(--white-color);
}

.status-paga {
    background-color: #2ecc71;
}

.status-pendente {
    background-color: #f1c40f;
}

.status-atrasada {
    background-color: #e74c3c;
}

.stack-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-square {
    color: 388E3C;

}

.fa-circle {
    position: absolute;
    color: white;
    font-size: 2.2rem !important;
}

.fa-dollar-sign,
.fa-building,
.fa-truck,
.fa-money-bill-alt,
.fa-tools,
.fa-ellipsis-h {
    position: absolute;
    font-size: 1.4rem !important;
}

.fa-stack {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-stack .fa-square {
    color: 1B2947;
}

.fa-stack .fa-circle {
    position: absolute;
    color: white;
    font-size: 2.2rem !important;
}

.fa-stack .fa-dollar-sign {
    position: absolute;
    color: 1B2947;
    font-size: 2rem !important;
}

@media screen and (max-width: 1030px) {
    #financial-main {
        width: 90%;
        margin: 0 auto;
        padding-inline: 0;
    }

    #financial-header {
        text-align: center;
    }

    .debts-left {
        width: 100%;
    }

    .debts-container {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        height: auto;
    }

    .debts-card {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 0;
    }

    .debts-right {
        width: 100%;
        margin-top: 2rem;
    }

    .columns-debt {
        flex-direction: column;
        gap: 1rem;
    }

    #expense-types {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .dbt-forms {
        background-color: var(--white-color);
        border-radius: 10px;
        padding-block: 2rem;
        align-items: center;
        width: 100%;
        justify-content: center;
    }

    .expense-line {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: 100%;
    }

    .chart-line-exp {
        min-height: 350px;
        max-height: 400px;
    }

    .chartFinancialLine {
        max-width: 100%;
    }

    .body-list-prod tr td h3 {
        text-wrap: wrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media screen and (max-width:749px) {
    .debts-card {
        flex-direction: column;
        justify-content: center;
    }

    .dbt-card-container {
        width: 100%;
        display: flex;
    }

    .dbt-card {
        width: 100%;
    }

    .head-list-fin tr {
        background-color: var(--primary-color);
        color: var(--white-color);
        font-size: 11px;
        text-align: center;
    }

    .action-btns {
        min-width: none !important;
    }
}

@media screen and (max-width:480px) {
    .graficColunm-financial {
        max-width: 1fr;
        min-width: 100%;
        max-height: 1fr;
        min-height: 100%;
        margin: 0 auto;
        padding-inline: 1rem;
    }

    .ranking ul {
        padding-left: 1rem;
    }

    .product-name {
        padding-right: 1rem;
        display: flex;
        margin: 0 auto;
    }

    .chartFinancialLine {
        max-width: 1fr;
        min-width: 1fr;
        min-height: 90%;
        max-height: 1fr;
        padding-inline: 1rem;
    }

}

/* MODAL */
.container-Add-despesa {
    background: var(--white-color);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    flex-direction: column;
    min-width: 30%;
    padding: 20px;
    border-radius: 20px;
    border: none;
    display: flex;
    align-items: center;
    height: auto;
    width: 60%;
    z-index: 3;
    justify-content: center;
    overflow-y: auto;
    animation: downAcess .3s ease-in-out;
    margin-right: 80px;
}