#exp-form {
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

#exp-form header {
    font-family: var(--font-Krona), sans-serif;
    animation: slideInUp 1s ease forwards;
    font-size: 1rem;
    color: var(--primary-color);
}

#search-expense {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 1rem;
}

#search-bar {
    display: flex;
    max-width: 400px;
    margin: 1rem 0;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    position: relative;
    width: 100%;
}

#search-bar:focus {
    border: 2px solid var(--secondy-color);
}

#search-exp {
    padding: .5rem .8rem;
    width: 100%;
    border-radius: 5px;
    border: 2px solid transparent;
    color: var(--black-color);
    font-family: var(--font-krub);
    font-weight: bold;
}

#search-exp:focus {
    border: 2px solid var(--secondy-color);
}

#search-exp:focus+#search-icon {
    color: var(--secondy-color) !important;
}

#search-icon {
    position: absolute;
    right: .5rem;
    bottom: 0.2em;
    color: var(--black-color);
    font-size: 1.2rem;
}

#search-exp:focus {
    outline: none;
}

#filter-expense {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: .8rem 2rem;
    background: transparent;
    border: none;
    border-radius: 5px;
    color: var(--primary-color);
    cursor: pointer;
    background-color: var(--white-color);
    font-family: var(--font-krub);
}

#filter-expense:hover {
    cursor: pointer;
    background: var(--white-color);
    transition: .5s;
}

#result-expense {
    font-weight: bold;
    color: var(--primary-color);
    margin-block: 1rem;
}

#exp-cards {
    display: grid;
    gap: 1rem;
    margin: 0 auto;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.exp-card {
    background: var(--white-color);
    display: flex;
    flex-direction: column;
    color: var(--primary-color);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
    gap: 1.2rem;
    border-radius: 5px;
    border: 1px solid var(--secondy-color);
    transition: .5s;
    position: relative;
    padding: 1.5rem;
}

#add-exp-card:hover svg,
#add-exp-card:hover p {
    color: var(--white-color) !important;
}

#add-exp-card:hover {
    background-color: var(--secondy-color) !important;
    cursor: pointer;
}

.exp-card i {
    font-size: 4rem;
}

.exp-desc {
    font-weight: 400;
}

.stack-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-square {
    color: 388E3C;

}

.fa-circle {
    position: absolute;
    color: white;
    font-size: 2.2rem !important;

}

.fa-dollar-sign, .fa-building, .fa-truck, .fa-money-bill-alt, .fa-tools {
    position: absolute;
    font-size: 1.4rem !important;
}

.fa-stack {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-stack .fa-square {
    color: 1B2947;
}

.fa-stack .fa-circle {
    position: absolute;
    color: white;
    font-size: 2.2rem !important;
}

.fa-stack .fa-dollar-sign {
    position: absolute;
    color: 1B2947;
    font-size: 2rem !important;
}