#Neo-Help {
  position: fixed;
  z-index: 5;
  right: 1rem;
  top: 1rem;
  width: 100px;
  height: 100px;
  animation: scaleInSolid 1s ease-in-out infinite alternate;
}

#Neo-Help:hover {
  animation-play-state: paused;
  transform: scale(1.1);
}

#Neo-Help img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#main-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  background-color: var(--gray-color);
  overflow-y: auto;
  overflow-x: auto;
  height: 100vh;
}

#container-main {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;

}

#title-main {
  display: flex;
  font-size: .8rem;
  color: var(--primary-color);
  font-family: var(--font-Krona), sans-serif;
  padding: 1.5rem 1rem;
  animation: slideInUp 1s ease forwards;
}

#container-present {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  background-color: var(--secondy-color);
  max-height: 210px;
  width: 90%;
  margin: 0 auto;
  padding-block: 2rem;
  animation: scaleIn 1s ease forwards;
}

#card-presents {
  display: flex;
  align-items: center;
  border-radius: 20px;
  gap: 3rem;
}


#card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  letter-spacing: 1.5px;
  height: 100%;
  margin-left: 1rem;
}

#user-welc {
  display: flex;
  font-family: var(--font-Krona), sans-serif;
  font-weight: 400;
  color: var(--primary-color);
  font-size: clamp(16px, 5vw, 10px);
}

#user-name {
  color: var(--white-color);
  font-weight: 300;
  font-size: clamp(20px, 5vw, 10px);
}

#present-img img {
  max-width: 135px;
  height: 100%;
}

#msgs-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  font-size: clamp(15px, 5vw, 10px);
}

#msg-wlcm p {
  color: var(--primary-color);
}

#msg-descrip p {
  color: var(--white-color);
}

#card-text button {
  color: var(--secondy-color);
  background-color: var(--white-color);
  border: none;
  padding: 0.5rem;
  width: 40%;
  border-radius: 5px;
}

#card-text button:hover {
  background-color: var(--primary-color);
  transition: 0.5s;
  cursor: pointer;
  color: var(--white-color);
}

#periods {
  display: flex;
  margin-top: 20px;
}


.periods-btn {
  opacity: 0;
  animation: slideInUp 1s ease forwards;
}

.periods-btn.active {
  background-color: var(--primary-color) !important;
  color: var(--white-color) !important;
}

#periods .periods-btn:nth-child(1) {
  animation-delay: 0s;
}

#periods .periods-btn:nth-child(2) {
  animation-delay: 0.2s;
}

#periods .periods-btn:nth-child(3) {
  animation-delay: 0.4s;
}

#periods button {
  color: var(--primary-color);
  height: 1.7rem;
  width: 15%;
  text-align: center;
  background: var(--white-color);
  border-color: var(--primary-color);
  border: 1.7px solid transparent;
  font-family: var(--font-krub);
  font-weight: bold;
  padding: 1.2em 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#periods button:hover {
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--white-color);
  transition: 0.5s;
  border: 1.5px solid transparent;
}

#cards-finance {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 20px;
}

#cards-finance .card-des:nth-child(1) {
  animation-delay: 0s;
}

#cards-finance .card-des:nth-child(2) {
  animation-delay: 0.2s;
}

#cards-finance .card-des:nth-child(3) {
  animation-delay: 0.4s;
}

.card-des {
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 1rem;
  animation: fadeInAndUp 1s ease forwards;
  opacity: 0;
}

.men-info {
  display: flex;
  flex-direction: column;
  text-align: end;
  color: var(--white-color);
  font-size: 1.2rem;
}

.men-info p {
  font-size: 1rem;
  margin-bottom: .5rem;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 3px;
  color: var(--secondy-color);
}

.men-info span h1 {
  font-weight: 500;
  font-size: 2.7rem;
}

.green {
  color: #74ff74;
}

.red {
  color: #ff5151;
}

.porc-simb {
  display: flex;
  align-items: center;
}

.card-obj {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-men img {
  max-width: 100px;
  max-height: 100px;
  display: flex;
}

#collect-charts header h3 {
  color: var(--secondy-color);
  font-weight: 400;
  margin-block: 1.5rem;
}

#charts-main {
  display: grid;
  grid-template-columns: 70% 30%;
  height: 400px;
  gap: 20px;
  margin-bottom: 3em;
}

#column-chart,
#pie-chart {
  background: var(--white-color);
  border-radius: 10px;
  padding: 1rem;
}

#ranking-container {
  background-color: var(--primary-color);
  padding: 1rem;
  color: var(--white-color);
  width: 99%;
  margin: 2rem auto;
  border-radius: 10px;
}

#ranking-container h1 {
  font-family: var(--font-Krona);
}

#ranking-types {
  background-color: var(--white-color);
  margin-block: 2rem;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  overflow-x: auto;
}

.ranking {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.ranking-img img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  object-fit: cover;
}

.ranking-title {
  color: var(--primary-color);
  font-weight: 600;
  text-align: center;
  margin-block: 2em;
}

.ranking ul {
  display: flex;
  flex-direction: column;
  padding-inline: 0.5rem;
  padding-bottom: 2rem;
}

.ranking ul li {
  width: 300px;
  padding: 5px 10px;
  color: var(--primary-color);
  font-weight: bold;
  display: flex;
  gap: 20px;
  align-items: center;
  border-radius: 10px;
}

.ranking ul li:nth-child(1) {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.ranking ul li .product-scale:nth-child(1) {
  background-color: var(--white-color);
}

.img-product {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.product-name {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.scale-container {
  width: 100%;
  display: flex;
}

.product-scale {
  height: 15px;
  width: 100%;
  border: 1.7px solid var(--primary-color);
  border-radius: 100px;
  position: relative;
  display: flex;
  align-items: center;
}

.scale {
  position: absolute;
  height: 100%;
  background-color: var(--secondy-color);
  border-radius: 100px;
  width: 50%;
  left: 0.6px;
  animation: anime 3s ease;
  top: 0.0374px;
  left: 0px;
  animation-delay: 2s;
}

@keyframes anime {
  0% {
    width: 0%;
  }

  60% {
    width: 50%;
  }
}

#payments {
  padding: 3em;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#payments h1 {
  display: flex;
  margin: 10px;
  color: var(--primary-color);
  font-family: var(--font-Krona);
}

#payments-forms {
  background: var(--white-color);
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}

#payments-forms h6 {
  margin-bottom: 1rem;
}

#payments-forms ul {
  width: 30%;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  justify-content: space-around;
  gap: 10px;
  color: var(--primary-color);
  margin-inline: 5rem;
}

#payments-chart {
  height: 400px;
  width: 90%;
  text-align: center;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#chart-payment {
  display: flex;
  align-items: center;
}

.pay-type p {
  font-size: 1rem;
}

#payments-forms ul {
  list-style-type: none;
  padding-left: 0;
}

#payments-forms ul li {
  display: flex;
  align-items: center;
  opacity: 0;
  animation: fadeInLeft 1s ease forwards;
}

#payments-forms ul li::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: pink;
  display: inline-block;
  margin-right: 0.5em;
  border-radius: 5px;
}

#payments-forms ul li:nth-child(2) {
  animation-delay: 0s;
}

#payments-forms ul li:nth-child(3) {
  animation-delay: 0.2s;
}

#payments-forms ul li:nth-child(4) {
  animation-delay: 0.4s;
}

#payments-forms ul li:nth-child(5) {
  animation-delay: 0.6s;
}

#payments-forms ul li:nth-child(6) {
  animation-delay: 0.8s;
}

#payments-forms ul li:nth-child(7) {
  animation-delay: 1s;
}

#payments-forms ul li:nth-child(8) {
  animation-delay: 1.2s;

}

#payments-forms ul li:nth-child(9) {
  animation-delay: 1.4s;
}

#payments-forms ul li:nth-child(2)::before {
  background-color: #2ecc71;
}

#payments-forms ul li:nth-child(3)::before {
  background-color: #3498db;
}

#payments-forms ul li:nth-child(4)::before {
  background-color: #e74c3c;
}

#payments-forms ul li:nth-child(5)::before {
  background-color: #f39c12;
}

#payments-forms ul li:nth-child(6)::before {
  background-color: #9b59b6;
}

#payments-forms ul li:nth-child(7)::before {
  background-color: #f1c40f;
}

#payments-forms ul li:nth-child(8)::before {
  background-color: #1abc9c;
}

#payments-forms ul li:nth-child(9)::before {
  background-color: #1f1f1f;
}

#container-doughnut-datas {
  list-style-type: none;
  padding-left: 0;
}

#container-doughnut-datas ul {
  width: 70%;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  justify-content: space-around;
  gap: 10px;
  color: var(--primary-color);
  list-style: none;
  margin: 1rem auto;
}

.doughnut-datas {
  display: flex;
  align-items: center;
  animation: fadeInLeft 1s ease;
}

.doughnut-datas::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: pink;
  display: inline-block;
  margin-right: 0.5em;
  border-radius: 100px;
}

.doughnut-datas:nth-child(1)::before {
  background-color: #D9D9D9;
}

.doughnut-datas:nth-child(2)::before {
  background-color: #1B2947;
}

.doughnut-datas:nth-child(3)::before {
  background-color: #5B7FFF;
}

#expenses {
  padding: 2rem 0rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 2rem;
}

#expenses h1 {
  display: flex;
  margin-bottom: 10px;
  color: var(--primary-color);
  font-family: var(--font-Krona);
}

#expenses-data {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

#expense-chart {
  height: 400px;
  width: 60%;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 10px;

}

#expense-calendar {
  max-width: 390px;
  max-height: 400px;
}

#expense-calendar .calendar {
  max-width: 390px;
  max-height: 400px;

}

#calendar-description {
  text-align: center;
}

footer {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  color: var(--white-color);
  padding: 1rem 0px;
  margin: 0;
  flex-direction: column;
  width: 100%;
}

#container-footer {
  width: 80%;
}

#container-footer p {
  margin: 0;
  padding-top: 1rem;
  text-align: center;
}

#autoria {
  text-align: center;
}

#lineFooter {
  margin-block: 1rem;
}

#container-footer a {
  font-size: 1rem;
  color: var(--white-color);
  text-decoration: none;
}

#container-footer a:hover {
  text-decoration: underline !important;
}

/*Modal Help */

.Modal-Help {
  height: auto;
  width: 100%;
  z-index: 1;
  height: 100%;
  position: fixed;
  backdrop-filter: brightness(0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.container-Help {
  background: var(--white-color);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  flex-direction: column;
  min-width: 30%;
  padding: 20px;
  border-radius: 20px;
  border: none;
  display: flex;
  align-items: center;
  height: 90%;
  width: 80%;
  justify-content: space-between;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
}

.Help-Info {
  width: 100%;
  min-width: 200px;
  margin: 10px;
  display: flex;
  overflow: auto;
}

.header-text-hlp {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header-Help {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-width: 200px;
  margin: 10px;
  align-items: center;
  color: var(--primary-color);
}

.Help-Text {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  min-width: 200px;
  max-width: 60%;
  height: 70rem;
  padding-inline: 1rem;
}

#Neo-Text {
  text-align: center;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

#Neo-Text img{
 display: none;
}

#Neo-Text h1 span {
  color: var(--secondy-color);
}

.span-right {
  color: var(--secondy-color);
  font-weight: bold;
}

.Help-Info ul li p {
  color: var(--primary-color);
}

.Help-Text ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Help-Text ul li {
  text-align: center;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
}

.Neo-Left {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  height: 100%;
}

.Neo-Left img {
  position: fixed;
  height: 60%;
}

.help-imgs {
  width: 100%;
  margin-block: 1rem;
  border-radius: 10px;
}

.help-btn {
  padding: .8rem 2rem;
  background: var(--secondy-color);
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-family: var(--font-krub);
  margin: 0 auto;
}

.help-btn:hover {
  cursor: pointer;
  background: var(--hover-color);
  transition: .5s;
}

@media screen and (max-width: 750px) {
  #card-presents {
    flex-direction: column;
  }

  #container-main {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }

  #title-main {
    justify-content: center;
  }

  #container-present {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    background-color: var(--secondy-color);
    max-height: 25em;
    width: 100%;
    animation: scaleIn 1s ease forwards;
  }

  #user-welc {
    justify-content: center;

  }

  #card-presents {
    display: flex;
    align-items: center;
    border-radius: 20px;
    gap: 0;
  }

  #present-img {
    max-height: 72%;

  }

  #card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  #user-welc {
    text-align: center;

  }

  #periods {
    justify-content: center;
  }

  #cards-finance {
    overflow-x: auto;
    grid-template-columns: repeat(1, 3fr);
    justify-content: center;

  }

  #collect-charts header h3 {
    text-align: center;
  }

  #charts-main {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    gap: 10px;
    height: 50%;
  }

  #ranking-container {
    overflow-x: auto;
  }

  #ranking-container h1 {
    text-align: center;
  }

  #ranking-types {
    width: 100%;
    padding: 1em;
  }

  #payments {
    padding: 0;
    align-items: center;
  }

  #payments h1 {
    text-align: center;
  }

  #payments-forms {
    flex-direction: column-reverse;

  }

  #payments-forms ul h6 {
    text-align: center;
  }

  #payments-forms ul {
    width: 95%;
    margin-bottom: 2rem;
  }

  #expenses {
    width: 100%;
  }

  #expenses h1 {
    justify-content: center;
  }

  #expenses-data {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  #expense-chart {
    width: 100%;
    height: auto;
  }

  #expense-calendar {
    width: 100%;
    align-items: center;
  }

  #expense-calendar .calendar {
    max-width: 390px;
    margin: auto;
  }

  .container-Help {
    background: var(--white-color);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    flex-direction: column;
    min-width: 30%;
    padding: 20px;
    border-radius: 20px;
    border: none;
    display: flex;
    align-items: center;
    height: 90%;
    width: 90%;
    justify-content: space-between;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
  }

  .Help-Text {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    min-width: 200px;
    max-width: 100%;
    height: auto;
    padding-inline: 1rem;
  }

  #Neo-Text{
    align-items: center;
    width: 100%;
    height: auto;
    align-items: center;
  }

  #Neo-Text img{
    display: block;
    height: 20rem;
  }

  .Help-Text ul li {
    text-align: center;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
  }

  .Neo-Left {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    height: 100%;
    display: none;
  }

}

@media screen and (min-width: 750px) and (max-width: 1030px) {
  #main-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background-color: var(--gray-color);
    overflow-y: auto;
    overflow-x: auto;
    height: auto;
  }

  #card-presents {
    gap: 0;
  }

  #cards-finance {
    display: grid;
    gap: 10px;
    overflow-x: auto;
    grid-template-columns: repeat(2, 1fr);

  }

  #periods {
    justify-content: center;
  }

  #collect-charts header h3 {
    text-align: center;
  }

  #ranking-container h1 {
    text-align: center;
  }

  #ranking-types {
    width: 100%;
    padding: 1em;
  }

  #payments {
    align-items: center;
  }

  #payments-forms {
    flex-direction: column-reverse;

  }

  #payments-forms ul {
    margin-bottom: 2rem;
  }

  #payments-forms ul h6 {
    text-align: center;
  }

  #payments-forms ul li {
    width: 30vw;
  }

  #expenses h1 {
    display: flex;
    justify-content: center;

  }

  #expenses-data {
    flex-direction: column;
    align-items: center;
  }

  #expense-calendar {
    width: 100%;
    align-items: center;
  }

  #expense-calendar .calendar {
    width: 60vw;
    margin: auto;
  }

  .container-Help {
    background: var(--white-color);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    flex-direction: column;
    min-width: 30%;
    padding: 20px;
    border-radius: 20px;
    border: none;
    display: flex;
    align-items: center;
    height: 90%;
    width: 80%;
    justify-content: space-between;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .Help-Text {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    min-width: 200px;
    max-width: 100%;
    height: auto;
    padding-inline: 1rem;
  }

  #Neo-Text{
    align-items: center;
    width: 100%;
    height: auto;
    align-items: center;
  }

  #Neo-Text img{
    display: block;
    height: 20rem;
  }

  .Neo-Left {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    height: 100%;
    display: none;
  }

}