#faq-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 1rem;
    height: max-content;
    background-color: var(--gray-color);
}

#faq-header {
    display: flex;
    font-size: .8rem;
    color: var(--primary-color);
    font-family: var(--font-Krona), sans-serif;
    margin-block: 3rem;
    animation: slideInUp 1s ease forwards;
    justify-content: center;
}

#faq-sections {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    align-items: start;
}

#faq-left {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    width: 25%;
}

#faq-left header {
    color: var(--primary-color);
}

#faq-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.social-card {
    background-color: var(--white-color);
    padding: 1rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.social-card a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondy-color);
    font-weight: bold;
    padding-block: .5rem;
}

.social-card a:hover {
    color: var(--hover-color);
}

.icon-faq-email {
    font-size: 2rem;
    color: #9370DB;
}

.icon-faq-zap {
    font-size: 2rem;
    color: #25d366;
}

.icon-faq-linkedin {
    font-size: 2rem;
    color: var(--secondy-color);
}

.faq-contacts {
    font-weight: bold;
    color: var(--primary-color);
}

#faq-right {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 50%;
}

#faq-right header {
    text-align: center;
    color: var(--primary-color);
}

#faq-field form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-faq {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.data-faq {
    width: 100%;
    padding: .9rem;
    margin-bottom: 1rem;
    background: var(--white-color);
    border: 2px solid transparent;
    outline: none;
    border-radius: 2px;
    color: var(--black-color);
    font-family: var(--font-Krub);
}

.data-faq::placeholder {
    font-size: 1rem;
}

.input-faq-msg {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.msg-faq {
    resize: none;
    width: 100%;
    padding: .9rem;
    margin-bottom: 1rem;
    background: var(--white-color);
    border: 2px solid transparent;
    outline: none;
    border-radius: 2px;
    color: var(--black-color);
    font-family: var(--font-Krub);
    height: 100%;
    min-height: 160px;
}

.msg-faq::placeholder {
    font-size: 1rem;
    font-family: var(--font-Krub);
}

.data-faq:focus,
.msg-faq:focus {
    border: 2px solid var(--secondy-color);
}

.faq-btn {
    margin-top: .5rem;
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    border-radius: 2px;
    cursor: pointer;
    background: var(--primary-color);
    color: var(--white-color);
    border: none;
    font-weight: bold;
    transition: .8s;
    font-family: var(--font-Krub);
}

.faq-btn:hover {
    background: var(--hover-color);

}