#popup {
    position: fixed;
    right: 1rem;
    top: 2rem;
    z-index: 10;
    padding: .5rem;
    border-radius: 5px;
    transition: .5s;
    animation: animatedPopup .5s ease-in;
    display: flex;
    gap: 10px;
    min-width: 250px;
    color: var(--white-color);
}

.separation-popup {
    width: 5px;
    max-height: 100px;
    min-height: 50px;
    background-color: var(--white-color);
    border-radius: 10px;
}

#text-popup {
    color: var(--white-color);
}

.mensagem-popup {
    margin-top: .5rem;
    font-size: .9rem;
    max-width: 250px;
    max-height: 50px;
    overflow-x: auto;
}

.alert {
    background-color: #FFC107;
}

.warning {
    background-color: #C62828;
}

.sucess {
    background-color: #388E3C;
}

.help {
    background-color: #5B7FFF;
}

#closePopup {
    font-family: var(--font-krona);
    cursor: pointer;
    font-size: 32px;
    position: absolute;
    top: 0;
    right: .5rem;
    color: var(--white-color);
}

@keyframes animatedPopup {
    0% {
        opacity: 0;
        transform: translateX(200px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}