#region-container {
    background-color: var(--gray-color);
    width: 100%;
    height: 100vh;
}

#region-inside {
    background-color: var(--gray-color);
    width: 100%;
    height: max-content;
}

#region-header {
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#region-header h1 {
    font-family: var(--font-Krona), sans-serif;
    animation: slideInUp 1s ease forwards;
    font-size: 1.5rem;
    color: var(--primary-color);
}

#region-header p {
    color: var(--secondy-color);
    text-align: center;
    font-weight: bold;
}

#region-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 4rem;
}

#region-card {
    background-color: var(--white-color);
    border-radius: 10px;
    padding: 1rem;
    margin: 0 auto;
    width: 70%;
    animation: scaleIn 1s ease forwards;
    display: flex;
    flex-wrap: wrap;
}

#text-region-mes {
    color: var(--white-color);
    background-color: var(--primary-color);
    padding: .5rem 1rem;
    border-radius: 5px;
    position: absolute;
    top: -1rem;
    right: -1rem;
}

#reg-main {
    border-radius: 10px;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 1rem;
    position: relative;
}

#container-region-img {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.city-img {
    width: 150px;
    height: 150px;
    display: flex;
}

.city-img img {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    object-fit: cover;
    border-radius: 50%;
}

#region-desc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

#region-chart {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: end;
}

.chartRegion {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
}

#card-region-desc p {
    color: var(--white-color);
    background-color: var(--primary-color);
    padding: .5rem 1rem;
    border-radius: 5px;
    position: absolute;
}

#region-desc p span {
    font-weight: bold;
    color: var(--primary-color);
}

#reg-main {
    border-radius: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#region-desc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

#region-desc h1 {
    color: var(--primary-color);
}

#region-desc p {
    font-size: 1.2rem;
}

#region-chart img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 50%;
}

#search-region {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#search-bar-region {
    display: flex;
    width: 300px;
    margin: 1rem 0;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    position: relative;
}


#search-bar-region:focus {
    border: 2px solid var(--secondy-color);
}

#search-region {
    border: 2px solid #0000;
    border-radius: 5px;
    color: var(--black-color);
    font-family: var(--font-krub);
    font-weight: 700;
    padding: .5rem .8rem;
    width: 100%;
}

#search-region:focus {
    border: 2px solid var(--secondy-color);
}

#search-region:focus+#search-icon-region {
    color: var(--secondy-color) !important;
}


#search-icon-region {
    position: absolute;
    right: .5rem;
    bottom: 0.2em;
    font-size: 1.2rem;
}

#search-region:focus {
    outline: none;
}

#add-region {
    padding: .8rem 2rem;
    background: var(--secondy-color);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-family: var(--font-krub);
}

#add-region:hover {
    cursor: pointer;
    background: var(--hover-color);
    transition: .5s;
}

#apresention {
    text-align: center;
    width: 50%;
    margin: 2rem auto;
    border-bottom: 2px solid var(--primary-color);
}

#container-table-regions {
    width: 100%;
    margin: 0 auto;
}

#result-reg {
    font-weight: bold;
    color: var(--black-color);
    margin-bottom: 1rem;
}

table {
    width: 95%;
    margin: 0 auto;
    user-select: none;
    margin: .5rem auto;
    border-collapse: collapse;
    border-radius: 10px;
}

.tBodyTableRegions tr td {
    border: 1px solid #ddd;
}


.theadTableRegions tr {
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-weight: bold;
    font-size: .9rem;
}

tbody {
    max-height: 353px !important;
    overflow-y: auto !important;
}

tbody tr {
    font-size: .9rem;
}

tbody tr td {
    text-align: center;
    height: 80px;
    color: var(--black-color);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

tbody tr td button {
    padding: .8rem 2rem;
    background: var(--secondy-color);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-family: var(--font-krub);
    font-weight: bold;
}

.table-regions {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

.region-pic {
    width: 60px;
    height: 60px;
}

.region-pic img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.name-table h2 {
    margin: 0;
}

.price {
    font-weight: bold;
}

.row-white {
    background-color: var(--white-color);
}

.status {
    width: 100px;
    color: var(--white-color);
    background-color: gray;
    border: none;
    margin: 0 auto;
    padding: 5px 0px;
    text-decoration: none;
    border-radius: 100px;
}

.edit:hover {
    background-color: var(--hover-color);
}

.remove {
    background-color: #FF3B30;
}

.remove:hover {
    background-color: #e43026;
}

/* COMANDOS */
.comprado {
    background-color: #eb0808;
}

.negociacao {
    background-color: #e7e70b;
}

.venda {
    background-color: #06d606;
}

/* CSS para tornar a tag <tr> responsiva */
tr {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* Estilos para células individuais */
td {
    flex: 1;
    padding: 10px;
    /* Outros estilos */
}

/* Modal */

.Modal-Add {
    height: auto;
    width: 100%;
    z-index: 1;
    position: fixed;
    backdrop-filter: brightness(0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-modal {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    min-width: 200px;
}

.modal-title {
    font-family: var(--font-krub);
    color: var(--primary-color);
}

.close-btn {
    font-size: 2rem;
    padding: .2rem .8rem;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    background-color: var(--white-color);
    color: var(--letter-color);
}

.close-btn:hover {
    background-color: var(--gray-color);
}

.img-region-up {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-block: 1rem;
}

.img-region-up img {
    width: auto;
    height: 100px;
    position: absolute;
    filter: brightness(0.7);
}


.img-region-up p {
    color: var(--white-color);
    font-weight: bold;
}

.icon-reg-prof {
    position: absolute;
    display: flex;
    justify-content: center;
    font-size: 100px;
    color: #221d1d;
    border-radius: 50%;
    z-index: -1;
    opacity: 40%;

}

.icon-cam {
    color: var(--white-color);
    font-size: 30px;
}

.icon-text-cam {
    display: flex;
    flex-direction: column;
}

#Add-Item-Region {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
    justify-content: center;
}

.input-item span {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.input-item span input {
    padding: .8rem;
    background-color: var(--gray-color);
    outline: none;
    border-radius: 5px;
    border: 2px solid transparent;
}

.input-item span input:focus {
    border: 2px solid var(--secondy-color);
}

.input-single {
    display: flex;
    flex-direction: column;
}

.input-mult {
    display: flex;
    gap: 1rem;
}

#add-Region-Btn {
    display: flex;
    padding: .8rem 0;
    justify-content: center;
    background: var(--secondy-color);
    border: none;
    border-radius: 5px;
    color: white;
    font-family: var(--font-krub);
    cursor: pointer;
    font-weight: bold;
    margin-top: 1rem;
}

#add-Region-Btn:hover {
    background: var(--hover-color);
}

@keyframes DownAnimation {
    0% {
        -webkit-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@media screen and (max-width: 1078px) {
    #region-header {
        text-align: center;
    }

    #region-card {
        border-radius: 10px;
        padding: 1rem;
        margin: 0 auto;
        width: 70%;
    }

    #region-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 1rem;
    }

    #reg-main {
        flex-direction: column;
        gap: 1rem;
        max-height: 100% !important;
        gap: 5rem;
        width: 100%;
        position: relative;
        padding: 1rem;
    }

    #container-region-img {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    #card-region-desc {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: 1rem;
        left: 0;
        z-index: 1;
    }

    #region-chart {
        justify-content: center;
    }

    #card-region-desc p {
        justify-content: center;
    }

    #search-region {
        flex-direction: column;
    }

    #result-reg {
        margin-block: 2rem;
        text-align: center;
    }

    table {
        overflow: hidden;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .theadTableRegions tr {
        width: 100%;
        height: 50px;
        text-align: center;
        background-color: var(--primary-color);
        color: var(--white-color);
        font-weight: bold;
        font-size: .9rem;
    }

    .edit {
        display: flex;
    }

    .table-space {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    .input-mult {
        flex-wrap: wrap; 
    }

}


@media screen and (max-width: 480px) {

    .theadTableRegions tr,
    .tBodyTableRegions td {
        font-size: 12px;
    }

    .region-pic {
        width: 45px;
        height: 45px;
    }

    .region-pic img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        object-fit: cover;
    }

    #region-chart {
        justify-content: center;
    }

    .input-mult {
        flex-direction: column;

    }
}