.background-color {
  position: absolute;
  top: 0;
  left: 0;
  width: 45%;
  height: 100%;
  background-color: var(--primary-color);
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%, 0% 100%);
  z-index: -1;
  margin: auto;

}

.container {
  position: relative;
  display: flex;
  width: 100%;
}

.left {
  position: relative;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;

}

.logo {
  width: 5em;
}

.logo-name {
  color: var(--white-color);
  font-size: 2rem;
  font-style: var(--font-Krona);
}

.container-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 2rem;
}

#container-img {
  display: flex;
  height: 70%;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.left-image {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  height: 100%;
  width: 100%;
  margin-bottom: 1em;
  filter: hue-rotate(322deg) brightness(0.8) contrast(1.3);
  animation: floatAnimation 4s ease-in-out infinite alternate;
}

.title {
  font-family: var(--font-Krona);
  font-size: 1.1rem;
  font-weight: 500;
  width: 100%;
  height: 100%;
}

.subtitle {
  font-size: 1rem;
  width: 100%;
  height: 100%;
}

.right {
  background: var(--white-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 55%;
  gap: 2rem;
  position: relative;
  margin: auto;
}

#login-header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
}


.login-field {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

.login-field form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.input-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  color: var(--black-color);
  font-weight: 500;
}

.email,
.password {
  width: 100%;
  padding: 1rem;
  background: var(--gray-color);
  border: 2px solid transparent;
  outline: none;
  border-radius: 2px;
  color: var(--black-color);
}

.email:focus,
.password:focus {
  border: 2px solid var(--secondy-color);
}

.login-btn {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  border-radius: 1px;
  cursor: pointer;
  background: var(--primary-color);
  color: var(--white-color);
  border: none;
  transition: .8s;
  font-weight: bold;
}

.login-google {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  background: var(--white-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 2px;
  transition: .8s;
  font-weight: bold;
}

.login-btn:hover {
  background-color: var(--hover-color);
}

.login-google:hover {
  background-color: var(--gray-color);
}

.singup-text {
  margin-top: 20px;
  text-align: center;
  margin: 10px auto;
  position: relative;
  z-index: 1;
  background-color: var(--white-color);
  width: 60%;
  transform: translateY(10px);
  width: fit-content;
  padding-inline: 1em;
}

.singup-text a {
  color: var(--secondy-color);
  text-decoration: none;

}

.singup-text a:hover {
  text-decoration: underline;
}

#line {
  width: 100%;
  height: 3px;
  background-color: var(--primary-color);
  position: absolute;
  bottom: 15%;
}

#link-cadaster {
  text-decoration: underline;
  color: var(--secondy-color);
  cursor: pointer;
}

.container-line {
  position: relative;
}


.password-container {
  position: relative;
}

#see-password-login {
  position: absolute;
  top: 18px;
  right: 20px;
  cursor: pointer;
  color: var(--primary-color);
}

@media screen and (max-width: 752px) {
  .container {
    flex-direction: column;
    height: 100%;
  }

  .background-color {
    width: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%, 0% 100%);
    z-index: 1;
    display: none;
   
  }

  .left {
    width: 100%;
    background-color: var(--primary-color);
    transition: .5s;
  }

  .container-logo {
    width: 100%;
    font-size: 0.7rem;
    text-align: center;
    padding: 1em;
  }

  .container-logo p {
    font-size: 1.5rem;
  }

  #container-img {
    max-width: 50%;
    display: none;
  
  }

  .left-image {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
  }


  .right {
    width: 100%;
    height: 100%;
    margin: auto;
    transition: .5s;
    padding: 1.5em;
  }

  #login-header {
    text-align: center;
    gap: 20px;
    padding: 1em;
  }

  #login-header h2 {
    font-size: 1.1em;
  }

  #login-header p {
    font-size: 1em;
  }

  .login-field {
    width: 100%;
    height: auto;
  }

  .login-field form {
    width: 100%;
    }

}

@media screen and (min-width:753px) and (max-width:1000px) {
  .left {
    width: 100%;
    display: block;
    height: 100%;
    transition: .2s;
  }

  .container-logo {
    width: 100%;
    font-size: 0.8rem;
    align-items: center;
    text-align: center;
  }

  .container-logo p {
    font-size: 1.7rem;
  }

  #container-img {
    width: 90%;
    margin-bottom:5rem;
  }

  .left-image {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .right {
    width: 100%;
    display: block;
    transition: .2s;
  }

  #login-header {
    text-align: center;
    gap: 20px;
    margin-block: 2rem;
  }

  #login-header h2 {
    width: 100%;
    font-size: 1.1em;
  }

  #login-header p {
    width: 100%;
    font-size: 1em;
  }


}
