.background-color {
  position: fixed;
  top: 0;
  left: 0;
  width: 45%;
  height: 100vh;
  background-color: var(--primary-color);
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%, 0% 100%);
  z-index: -1;
}

.container {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.left {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
}

.container-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 2em;
}

.logo {
  width: 5em;
}

.logo-name {
  color: var(--white-color);
  font-size: 2rem;
  font-style: var(--font-Krona);
}

#container-img {
  display: flex;
  height: 70%;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.left-image {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  height: 100%;
  width: 90%;
  margin-bottom: 1em;
}

.title {
  font-family: var(--font-Krona);
  font-size: 1.5rem;
  font-weight: 500;
  width: 100%;
  height: 100%;
}

.subtitle {
  font-size: 1.2rem;
  width: 100%;
  height: 100%;
}

.right {
  background: var(--white-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 55%;
  gap: 1.5rem;
  position: relative;
  margin: auto;
  height: auto;
}

#login-header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
}


.login-field {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

.login-field form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.input-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-field label {
  color: var(--black-color);
  font-weight: 500;
}

.email,
.password {
  width: 100%;
  padding: 1rem;
  background: var(--gray-color);
  border: 2px solid transparent;
  outline: none;
  border-radius: 2px;
  color: var(--black-color);
  font-family: var(--font-Krub);
}

.email:focus,
.password:focus {
  border: 2px solid var(--secondy-color);
}

.login-btn {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  border-radius: 1px;
  cursor: pointer;
  background: var(--primary-color);
  color: var(--white-color);
  border: none;
  transition: .8s;
  font-weight: bold;
  font-family: var(--font-Krub);
}

.login-google {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  background: var(--white-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 2px;
  transition: .8s;
  font-weight: bold;
  font-family: var(--font-Krub);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.login-google svg {
  font-size: 1rem;
}

.login-btn:hover {
  background-color: var(--hover-color);
}

.login-google:hover {
  background-color: var(--gray-color);
}

.singup-text {
  margin-top: 20px;
  text-align: center;
  margin: 10px auto;
  position: relative;
  z-index: 1;
  background-color: var(--white-color);
  width: 60%;
  transform: translateY(10px);
  width: fit-content;
  padding-inline: 1em;
}

.singup-text a {
  color: var(--secondy-color);
  text-decoration: none;

}

.singup-text a:hover {
  text-decoration: underline;
}

#line {
  width: 100%;
  height: 3px;
  background-color: var(--primary-color);
  position: absolute;
  bottom: 15%;
}

#link-resetPassword,
#link-cadaster {
  text-decoration: underline;
  color: var(--secondy-color);
  cursor: pointer;
}

.container-line {
  position: relative;
}


.password-container {
  position: relative;
}

#see-password-login {
  position: absolute;
  top: 18px;
  right: 20px;
  cursor: pointer;
  color: var(--primary-color);
}


.modal-reset {
  height: auto;
  width: 100%;
  z-index: 1;
  height: 100%;
  position: fixed;
  backdrop-filter: brightness(0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.container-reset {
  background: var(--white-color);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  flex-direction: column;
  min-width: 30%;
  padding: 20px;
  border-radius: 20px;
  border: none;
  display: flex;
  align-items: center;
  height: auto;
  max-height: 90%;
  width: 50%;
  justify-content: space-between;
  gap: 1rem;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  font-style: var(--font-Krub);
}

.header-reset {
  display: flex;
  justify-content: center;
  width: 100%;
  font-weight: bold;
}

.reset-email-container {
  display: flex;
  gap: 10px;
  width: 90%;
  justify-content: center;
}

.restore-password {
  color: var(--primary-color);
  text-align: center;
}

.restore-password span {
  color: var(--secondy-color);
}

.input-reset-email {
  padding: .7rem 1rem;
  width: 100%;
  border-radius: 5px;
  border: 2px solid transparent;
  background: var(--gray-color);
  outline: none;
  font-family: var(--font-Krub);
}

.input-reset-email::placeholder {
  font-style: var(--font-Krub);
}

.input-reset-email:focus {
  border: 2px solid var(--secondy-color);
}

.send-reset {
  padding: .7rem 1.8rem;
  border-radius: 5px;
  background: var(--primary-color);
  color: var(--white-color);
  cursor: pointer;
  border: none;
  font-family: var(--font-Krub);
  font-weight: bold;
}

.send-reset:hover {
  background: var(--hover-color);
  transition: .8s;
}

.cancel-reset {
  padding: .5rem 3rem;
  border-radius: 5px;
  background: var(--white-color);
  color: var(--black-color);
  cursor: pointer;
  font-weight: bold;
  font-family: var(--font-Krub);
  border: 1px solid var(--primary-color);
}

.cancel-reset:hover {
  background: var(--gray-color);
  transition: .8s;
}

@media screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
    height: auto;
  }

  .background-color {
    width: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%, 0% 100%);
    z-index: 1;
    display: none;

  }

  .left {
    width: 100%;
    background-color: var(--primary-color);
    transition: .5s;
  }

  .container-logo {
    justify-content: center;
    font-size: 0.7rem;
    text-align: center;
    padding: 1em;
  }

  .container-logo p {
    font-size: 1.5rem;
  }

  #container-img {
    max-width: 50%;
    display: none;

  }

  .left-image {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
  }


  .right {
    width: 100%;
    height: 100%;
    margin: auto;
    transition: .5s;
    padding: 1.5em;
  }

  #login-header {
    text-align: center;
    gap: 20px;
    padding: 1em;
  }

  #login-header h2 {
    font-size: 1.3em;
  }

  #login-header p {
    font-size: 1em;
  }

  .login-field {
    width: 100%;
    height: auto;
  }

  .login-field form {
    width: 100%;
  }

  .container-reset {
    width: 90%;
  }

  .reset-email-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    justify-content: center;
  }
}
