#staff-container {
    width: 100%;
    height: 100vh;
    background-color: var(--gray-color);
    margin: 0 auto;
    width: 100%;
    max-width: 1500px;
}

#staff-inside {
    background-color: var(--gray-color);
    width: 90%;
    height: max-content;
    margin: 0 auto;
}

#staff-header {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#staff-header h1 {
    font-family: var(--font-Krona), sans-serif;
    animation: slideInUp 1s ease forwards;
    font-size: 1.5rem;
    color: var(--primary-color);
}

#staff-header p {
    color: var(--secondy-color);
    text-align: center;
    font-weight: bold;
}

#staff-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#featured-staff {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;

}

.staff-card {
    background-color: var(--white-color);
    display: flex;
    height: 320px;
    width: 400px;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    border-radius: 10px;
    position: relative;
    flex-wrap: wrap;
}

.staff-card header {
    background-color: var(--primary-color);
    text-align: center;
    padding-block: .5rem;
    color: var(--white-color);
}

.staff-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

.staff-info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    object-fit: cover;
}

.staff-desc h2 {
    color: var(--secondy-color);
}

.stf-card span i {
    font-size: .8rem;
    color: #C62828;
    margin-right: .3rem;
}

.staff-desc {
    color: var(--black-color);
    text-align: start !important;
}

.staff-desc p {
    color: var(--black-color);
    text-align: start;
}

.staff-desc p span {
    color: var(--primary-color);
    text-align: start;
    font-weight: bold;
}

.staff-chart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chartStaff {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-staff {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin: 1rem 0;
    width: 100%;
}

#search-bar {
    display: flex;
    max-width: 400px;
    margin: 1rem 0;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    position: relative;
    width: 100%;
}

#search-bar:focus {
    border: 2px solid var(--secondy-color);
}

#search-stf {
    padding: .5rem .8rem;
    width: 100%;
    border-radius: 5px;
    border: 2px solid transparent;
    color: var(--black-color);
    font-family: var(--font-krub);
    font-weight: bold;
}

#search-stf:focus {
    border: 2px solid var(--secondy-color);
}

#search-stf:focus+#search-icon {
    color: var(--secondy-color) !important;
}

#search-icon {
    position: absolute;
    right: .5rem;
    bottom: 0.2em;
    color: var(--black-color);
    font-size: 1.2rem;
}

#search-stf:focus {
    outline: none;
}

#add-staff {
    padding: .8rem 2rem;
    background: var(--secondy-color);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-family: var(--font-krub);
    display: flex;
}

#add-staff:hover {
    cursor: pointer;
    background: var(--hover-color);
    transition: .5s;
}

.search-btns {
    display: flex;
    gap: 1rem;
}

#filter-staff {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: .8rem 2rem;
    background: transparent;
    border: 2px solid var(--secondy-color);
    border-radius: 5px;
    color: var(--secondy-color);
    cursor: pointer;
    font-family: var(--font-krub);
}

#filter-staff:hover {
    cursor: pointer;
    background: var(--white-color);
    transition: .5s;
}

#result-staff {
    font-weight: bold;
    color: var(--black-color);
}

#staff-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-content: space-around;
    margin: 2rem 0;
    gap: 1rem;
    width: 100%;
}

.stf-card {
    background: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    justify-content: space-between;

}

.staff-nick {
    font-weight: bold;
}

.see-stf-btn {
    padding: .8rem;
    width: 90%;
    background: var(--secondy-color);
    border: none;
    border-radius: 10px;
    color: var(--white-color);
    cursor: pointer;
    font-family: var(--font-krub);
    font-weight: bold;
}

.see-stf-btn:hover {
    cursor: pointer;
    background: var(--hover-color);
    transition: .5s;
}

.staff-name {
    font-weight: bold;
    font-family: var(--font-Krona);
    color: var(--primary-color);
}

.stf-desc {
    gap: 1rem;
    display: flex;

}

.stf-desc span {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stf-gain {
    font-weight: bold;
    color: var(--primary-color);
}

.staff-img {
    height: 100px;
    width: 100px;
}

.staff-img img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.stf-card span {
    display: flex;
}

.staff-pin {
    color: red;
    font-size: 1.rem;
}

/* Modal */
.container-Detail-Staff {
    background: var(--white-color);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    flex-direction: column;
    min-width: 30%;
    padding: 20px;
    border-radius: 20px;
    border: none;
    display: flex;
    align-items: center;
    height: 90%;
    width: 80%;
    z-index: 3;
    justify-content: center;
    overflow-y: hidden;
    animation: downAcess .3s ease-in-out;
    margin-right: 80px;
}

#header-modal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-width: 200px;
}

#infouser-popup {
    display: flex;
    width: 100%;
    height: 90%;
}

#select-session-staff-btnContainer {
    padding: .3rem .5rem;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    width: fit-content;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: nowrap;
    display: flex;
    gap: 5px;
    margin-bottom: 1rem;
}

.select-session {
    padding: .3rem .5rem;
    background-color: var(--gray-color);
    border-radius: 100px;
    margin: 0 auto;
    cursor: pointer;
    border: none;
    font-family: var(--font-krub) !important;
    font-weight: 500;
    transition: .3s;
    min-width: 120px;
    color: var(--black-color);
}

.selected {
    background-color: var(--primary-color);
    color: var(--white-color);
}

#select-session-staff {
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}

#about-container {
    position: relative;
    margin-inline: 4rem;
}

#about-container h3 {
    text-align: center;
    margin-inline: auto;
    background-color: var(--white-color);
    font-family: var(--font-krub);
    color: var(--primary-color);
    z-index: 2;
    position: relative;
    width: max-content;
    padding-inline: 1rem;
    font-size: .8rem;
}

#about-container hr {
    position: absolute;
    top: .5rem;
    width: 100%;
}

#userStfTextInfo p {
    color: var(--black-color);
    font-weight: bold;
    font-family: var(--font-krub);
}

#aboutMe-description {
    background-color: var(--gray-color);
    padding: 1.5rem;
    margin-top: .5rem;
    border-radius: 10px;
    max-height: 25%;
    overflow: auto;
    text-align: start;
    font-size: 14px;
}

#userStfTextInfo {
    display: flex;
    flex-direction: column;
    opacity: 0;
    animation: slideInUp 1s ease forwards;
    text-align: start !important;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#userStfTextInfo p span {
    font-weight: 500 !important;
    color: var(--secondy-color);
    font-family: var(--font-krub);
}

#infouser-charts {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#userInfo-popup {
    width: 40%;
    text-align: center;
    font-family: var(--font-krub) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#userInfo-popup img {
    animation: spin 1s linear;
    border-radius: 20px;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.nameUserStf {
    padding-block: 1rem;
    font-weight: bold;
    color: var(--primary-color);
    opacity: 0;
    animation-delay: 1s !important;
    animation: slideInUp 1s ease forwards;
}

.emailUserStf {
    font-size: 1.3rem;
    text-wrap: nowrap;
    overflow: hidden;
    max-width: 300px;
    text-overflow: ellipsis;
    color: var(--secondy-color);
    padding-block: .5rem;
}

.userStfSocialMidia {
    padding-block: 1rem;
    display: flex;
    width: 100%;
    max-width: 300px;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    animation-delay: 1s !important;
    animation: slideInUp 1s ease forwards;
}

.userStfSocialMidia a {
    width: auto !important;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--gray-color);
    color: var(--primary-color);
    font-size: 2rem;
}

.userStfSocialMidia a:hover {
    color: var(--hover-color) !important;
}

.text-historico {
    color: var(--primary-color);
}

.text-history {
    color: var(--primary-color);
    text-align: center;
    margin-top: .5rem;
}

#container-StaffColumnChart {
    height: 200px;
}

.graficColunm-stf {
    width: 100%;
    height: 100%;
    margin: 0rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container-table-stf {
    width: 100%;
    margin: 0 auto;
    max-height: 12rem !important;
    overflow: auto;
}

.body-list-stf tr {
    background-color: #EBEDF1;
    font-size: .7rem;
}

.head-list-stf tr {
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: .7rem;
    text-align: center;
}

.head-list-stf {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.body-list-stf tr td,
.head-list-stf tr td {
    height: auto !important;
    padding: 5px !important;
}

.body-list-stf tr td h3 {
    text-wrap: nowrap;
    overflow: hidden;
    max-width: 100px;
    text-overflow: ellipsis;
}

.body-list-stf tr:nth-child(even) {
    background-color: var(--white-color);
}

@keyframes spin {
    from {
        transform: rotateY(180deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

/* modal add staff */
.Modal-Add {
    height: 100%;
    width: 100%;
    z-index: 1;
    position: fixed;
    backdrop-filter: brightness(0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    overflow: auto;
    margin-right: 80px;
}

.container-Add {
    background: var(--white-color);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    flex-direction: column;
    min-width: 30%;
    padding: 20px;
    border-radius: 20px;
    border: none;
    display: flex;
    align-items: center;
    height: 95%;
    width: 60%;
    z-index: 3;
    justify-content: center;
    overflow-y: auto;
    animation: downAcess .3s ease-in-out;
    margin-right: 80px;
}

#header-modal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-width: 200px;
}

.modal-title {
    font-family: var(--font-krub);
    color: var(--primary-color);
    max-width: 50ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.close-btn {
    font-size: 2rem;
    padding: .2rem .8rem;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    background-color: var(--white-color);
    color: var(--letter-color);
}

.close-btn:hover {
    background-color: var(--gray-color);
}

.img-stf-up {
    display: flex;
    justify-content: center;
}

.img-stf-up p {
    color: var(--white-color);
    font-weight: bold;
}

.icon-text-cam {
    z-index: 2;
}

.icon-prof {
    position: absolute;
    display: flex;
    justify-content: center;
    font-size: 100px;
    color: var(--white-color);
    opacity: 30%;
}

.img-staff-add {
    width: auto;
    height: 100px;
    position: absolute;
    filter: brightness(0.7);
}

.icon-cam {
    color: var(--white-color);
    font-size: 20px;
}

.icon-text-cam {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.Add-Item-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    overflow: auto;
}

.input-item span {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    text-align: start;
}

.input-item span input {
    padding: .8rem;
    background-color: var(--gray-color);
    outline: none;
    border-radius: 5px;
    border: 2px solid transparent;
}

.input-item span input:focus {
    border: 2px solid var(--secondy-color);
}

.input-single {
    display: flex;
    flex-direction: column;
}

.input-mult {
    display: flex;
    gap: 1rem;
}

#add-staff-Btn,
#edit-product-Btn {
    padding: .8rem 2rem;
    background: var(--secondy-color);
    border: none;
    margin-block: 1.2rem;
    border-radius: 5px;
    color: white;
    font-family: var(--font-krub);
    cursor: pointer;
    font-weight: bold;
}

#add-staff-Btn:hover,
#edit-product-Btn:hover {
    background: var(--hover-color);
}

@media screen and (max-width: 1030px) {
    #staff-container {
        width: 100%;
        height: 100vh;
        background-color: var(--gray-color);
    }

    #staff-header {
        text-align: center;
    }

    #staff-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 4rem;
    }


    #featured-staff {
        align-items: center;
        margin: 0;
    }

    .staff-card {
        height: 400px;
    }

    .staff-info {
        flex-direction: column;
        gap: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    #search-staff {
        flex-direction: column;
    }

    #result-staff {
        text-align: center;
        margin-block: 1rem;
    }

    #staff-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        justify-content: center;
    }

    .staff-chart {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .chartStaff {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* modal add staff */
    .Modal-Add {
        height: 100%;
        width: 100%;
        z-index: 1;
        position: fixed;
        backdrop-filter: brightness(0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-Add {
        display: flex;
        text-align: center;
        align-items: center;
        height: 95%;
        width: 60%;
        overflow-y: auto;
    }

    #Add-Item-Staff {
        overflow-y: auto;
    }

    .input-mult {
        flex-wrap: wrap;
    }

    #infouser-popup {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100vh;
        overflow-y: auto;
        gap: 1rem;
    }

    #userInfo-popup {
        width: 100% !important;
    }

    #select-session-staff {
        width: 100% !important;
        font-size: 14px;
        display: flex;
        align-items: center;
    }

    #infouser-charts {
        display: flex;
        flex-direction: column;
        width: 60%;
    }

    #userInfo-popup {
        width: 40%;
        text-align: center;
        font-family: var(--font-krub) !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-block: 1rem;
    }

    #userInfo-popup img {
        animation: spin 1s linear;
        border-radius: 20px;
        outline: 5px solid var(--secondy-color);
    }

    #userStfTextInfo {
        display: flex;
        flex-direction: column;
        gap: 5px;
        opacity: 0;
        animation: slideInUp 1s ease forwards;
    }

    .nameUserStf {
        padding-block: 1rem;
        font-weight: bold;
        color: var(--primary-color);
        opacity: 0;
        animation-delay: 1s !important;
        animation: slideInUp 1s ease forwards;
    }

    .emailUserStf {
        font-size: 1.3rem;
        text-wrap: nowrap;
        overflow: hidden;
        max-width: 300px;
        text-overflow: ellipsis;
        color: var(--secondy-color);
        padding-block: .5rem;
    }

    .userStfSocialMidia {
        padding-block: 1rem;
        display: flex;
        width: 100%;
        max-width: 300px;
        justify-content: space-around;
        align-items: center;
        opacity: 0;
        animation-delay: 1s !important;
        animation: slideInUp 1s ease forwards;
    }

    .userStfSocialMidia a {
        width: auto !important;
        padding: 1rem;
        border-radius: 10px;
        background-color: var(--gray-color);
        color: var(--primary-color);
        font-size: 2rem;
    }

    .userStfSocialMidia a:hover {
        color: var(--hover-color) !important;
    }

    .text-historico {
        color: var(--primary-color);
        text-align: center;
    }

    .text-history {
        color: var(--primary-color);
        text-align: center;
    }

    #container-StaffColumnChart {
        height: 200px;
    }

    .graficColunm-stf {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #container-table-stf {
        width: 100%;
        margin: 0 auto;
        height: 100% !important;
        overflow: hidden;
    }

    .body-list-stf tr {
        background-color: #EBEDF1;
        font-size: .7rem;
    }

    .head-list-stf tr {
        background-color: var(--primary-color);
        color: var(--white-color);
        font-size: .7rem;
        text-align: center;
    }

    .head-list-stf {
        background-color: var(--primary-color);
        color: var(--white-color);
    }

    .body-list-stf tr td,
    .head-list-stf tr td {
        height: auto !important;
        padding: 5px !important;
    }

    .body-list-stf tr td h3 {
        text-wrap: nowrap;
        overflow: hidden;
        max-width: 100px;
        text-overflow: ellipsis;
    }

    .body-list-stf tr:nth-child(even) {
        background-color: var(--white-color);
    }

}

@media screen and (max-width: 749px) {
    #staff-header {
        text-align: center;
    }

    #staff-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    #featured-staff {
        align-items: center;
    }

    #search-staff {
        flex-direction: column;
    }

    /* modal add staff */
    .Modal-Add {
        height: 100%;
        width: 100%;
        z-index: 1;
        position: fixed;
        backdrop-filter: brightness(0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-Add {
        display: flex;
        text-align: center;
        align-items: center;
        height: 90%;
        width: 90%;
        overflow-y: auto;
        margin-right: 0;
    }

    #Add-Item-Staff {
        overflow-y: auto;
    }

    #infouser-popup {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100vh;
        overflow-y: auto;
        gap: 1rem;
    }

    #infouser-charts {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #userInfo-popup {
        width: 100%;
        text-align: center;
        font-family: var(--font-krub) !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-block: 1rem;
    }

    #userInfo-popup img {
        animation: spin 1s linear;
        border-radius: 20px;
        outline: 5px solid var(--secondy-color);
    }

    #userStfTextInfo {
        display: flex;
        flex-direction: column;
        gap: 5px;
        opacity: 0;
        animation: slideInUp 1s ease forwards;
    }

    .nameUserStf {
        padding-block: 1rem;
        font-weight: bold;
        color: var(--primary-color);
        opacity: 0;
        animation-delay: 1s !important;
        animation: slideInUp 1s ease forwards;
    }

    .emailUserStf {
        font-size: 15px;
        text-wrap: nowrap;
        overflow: hidden;
        max-width: 300px;
        text-overflow: ellipsis;
        color: var(--secondy-color);
        padding-block: .5rem;
    }

    .userStfSocialMidia {
        padding-block: 1rem;
        display: flex;
        width: 100%;
        max-width: 300px;
        gap: 1rem;
        justify-content: space-around;
        align-items: center;
        opacity: 0;
        animation-delay: 1s !important;
        animation: slideInUp 1s ease forwards;
    }

    .userStfSocialMidia a {
        width: auto !important;
        padding: 1rem;
        border-radius: 10px;
        background-color: var(--gray-color);
        color: var(--primary-color);
        font-size: 2rem;
    }

    .userStfSocialMidia a:hover {
        color: var(--hover-color) !important;
    }

    .text-historico {
        color: var(--primary-color);
        text-align: center;
    }

    .text-history {
        color: var(--primary-color);
        text-align: center;
    }

    #container-StaffColumnChart {
        height: 150px;
        width: 300px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    .graficColunm-stf {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #container-table-stf {
        width: 100%;
        margin: 0 auto;
        display: flex;
        position: relative;
        height: 100% !important;
        overflow: auto;
    }

    .body-list-stf tr {
        background-color: #EBEDF1;
        font-size: .5rem;
    }

    .head-list-stf tr {
        background-color: var(--primary-color);
        color: var(--white-color);
        font-size: 1rem;
        text-align: center;
    }

    .head-list-stf tr {
        background-color: var(--primary-color);
        color: var(--white-color);
        font-size: .8rem;
        text-align: center
    }

    .body-list-stf tr td,
    .head-list-stf tr td {
        height: auto !important;
        padding: 5px !important;
    }

    .body-list-stf tr td h3 {
        text-wrap: nowrap;
        overflow: hidden;
        max-width: 50px;
        text-overflow: ellipsis;
    }

    .body-list-stf tr:nth-child(even) {
        background-color: var(--white-color);
    }

}

@media screen and (max-width: 749px) {
    .container-Detail-Staff {
        margin-right: 0;
    }

    #staff-list {
        grid-template-columns: repeat(1, 1fr);
    }
}


@media screen and (max-width: 480px) {
    #staff-header {
        text-align: center;
    }

    #staff-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    #featured-staff {
        gap: 1.5rem;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        margin: 0;
    }

    .staff-card header {
        padding-inline: 5rem;
    }


    #search-staff {
        flex-direction: column;
    }


    #select-session-staff {
        width: 100% !important;
    }

    .container-Detail-Staff {
        width: 95% !important;
    }

    .staff-card {
        width: 100%;
        height: 400px;
    }

    .staff-info {
        flex-direction: column;
        gap: 1rem;
    }

    #search-staff {
        flex-direction: column;
        width: 90%;
    }

    .search-btns {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    #result-staff {
        text-align: center;
        margin-block: 1rem;
    }

    #staff-list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        margin-inline: 1rem;
        justify-content: center;
    }

    .Modal-Add {
        height: 100%;
        width: 100%;
        z-index: 1;
        position: fixed;
        backdrop-filter: brightness(0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        margin-left: 0;
    }

    .container-Add {
        display: flex;
        text-align: center;
        align-items: center;
        height: 90%;
        width: 90%;
        overflow-y: auto;
    }

    #Add-Item-Staff {
        overflow-y: auto;
    }

    #infouser-popup {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100vh;
        overflow-y: auto;
        gap: 1rem;
        font-size: 8px;
    }

    #infouser-charts {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #userInfo-popup {
        width: 40%;
        text-align: center;
        font-family: var(--font-krub) !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-block: 1rem;
    }

    #userInfo-popup img {
        animation: spin 1s linear;
        border-radius: 20px;
    }

    #userStfTextInfo {
        display: flex;
        flex-direction: column;
        gap: 5px;
        opacity: 0;
        animation: slideInUp 1s ease forwards;
    }

    .nameUserStf {
        padding-block: 1rem;
        font-weight: bold;
        color: var(--primary-color);
        opacity: 0;
        animation-delay: 1s !important;
        animation: slideInUp 1s ease forwards;
    }

    .emailUserStf {
        font-size: 15px;
        text-wrap: nowrap;
        overflow: hidden;
        max-width: 300px;
        text-overflow: ellipsis;
        color: var(--secondy-color);
        padding-block: .5rem;
    }

    .userStfSocialMidia {
        padding-block: 1rem;
        display: flex;
        width: 100%;
        max-width: 300px;
        gap: 1rem;
        justify-content: space-around;
        align-items: center;
        opacity: 0;
        animation-delay: 1s !important;
        animation: slideInUp 1s ease forwards;
    }

    .userStfSocialMidia a {
        width: auto !important;
        padding: 1rem;
        border-radius: 10px;
        background-color: var(--gray-color);
        color: var(--primary-color);
        font-size: 2rem;
    }

    .userStfSocialMidia a:hover {
        color: var(--hover-color) !important;
    }

    .text-historico {
        color: var(--primary-color);
        text-align: center;
        font-size: .9rem;
    }

    .text-history {
        color: var(--primary-color);
        text-align: center;
        font-size: .9rem;
    }

    #container-StaffColumnChart {
        height: 200px;
        width: 300px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    .graficColunm-stf {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #container-table-stf {
        width: 100%;
        margin: 0 auto;
        display: flex;
        position: relative;
        height: 100% !important;
        overflow: hidden;
        margin: 0 auto;
    }

    #container-table-stf table {
        height: 100% !important;
        overflow: hidden;
    }

    .body-list-stf tr {
        background-color: #EBEDF1;
        font-size: .5rem;
    }

    .head-list-stf tr {
        background-color: var(--primary-color);
        color: var(--white-color);
        font-size: .4rem;
        text-align: center;
    }

    .head-list-stf {
        background-color: var(--primary-color);
        color: var(--white-color);
    }

    .body-list-stf tr td,
    .head-list-stf tr td {
        height: auto !important;
        padding: 5px !important;
    }

    .body-list-stf tr td h3 {
        text-wrap: balance;
        overflow: hidden;
        max-width: 50px;
        text-overflow: ellipsis;
    }

    .body-list-stf tr:nth-child(even) {
        background-color: var(--white-color);
    }
}