#product-container {
    background-color: var(--gray-color);
    width: 100%;
    height: 100vh;
}

#product-inside {
    background-color: var(--gray-color);
    width: 100%;
    height: max-content;
}

#prod-header {
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#prod-header h1 {
    font-family: var(--font-Krona), sans-serif;
    animation: slideInUp 1s ease forwards;
    font-size: 1.5rem;
    color: var(--primary-color);
}

#prod-header p {
    color: var(--secondy-color);
    text-align: center;
    font-weight: bold;
}

#product-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 4rem;
}

#prod-card {
    background-color: var(--white-color);
    border-radius: 10px;
    padding: 1rem;
    margin: 0 auto;
    width: 70%;
    position: relative;
    animation: scaleIn 1s ease forwards;
}

#text-prod-mes {
    color: var(--white-color);
    background-color: var(--primary-color);
    padding: .5rem 1rem;
    border-radius: 5px;
    position: absolute;
    top: -1rem;
    right: -1rem;
}

#prod-main {
    border-radius: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 0 auto;
    position: relative;
    max-height: 200px;
}

#container-prod-img {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.icecream-img {
    height: 150px;
    width: 150px;
}

.icecream-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
}

#prod-desc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

#prod-desc h1 {
    color: var(--primary-color);
}

#prod-desc p {
    font-size: 1.2rem;
}

#prod-desc p span {
    font-weight: bold;
    color: var(--primary-color);
}

#card-prod-desc {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: end;
}

.chartProduct {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
}

#prod-main .tittle-prod {
    color: var(--white-color);
    background-color: var(--primary-color);
    padding: .5rem 1.5rem;
    border-radius: 5px;
    position: absolute;
    top: -1rem;
    right: -1rem;
}

#product-chart {
    background-color: red;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 2rem;
}

#search-prod {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#search-bar {
    display: flex;
    max-width: 400px;
    margin: 1rem 0;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    position: relative;
    width: 100%;
}

#search-bar:focus {
    border: 2px solid var(--secondy-color);
}

#search-product {
    padding: .5rem .8rem;
    width: 100%;
    border-radius: 5px;
    border: 2px solid transparent;
    color: var(--black-color);
    font-family: var(--font-krub);
    font-weight: bold;
}

#search-product:focus {
    border: 2px solid var(--secondy-color);
}

#search-product:focus+#search-icon {
    color: var(--secondy-color) !important;
}

#search-icon {
    position: absolute;
    right: .5rem;
    bottom: 0.2em;
    color: var(--black-color);
    font-size: 1.2rem;
}

#search-product:focus {
    outline: none;
}

#add-product {
    padding: .8rem 2rem;
    background: var(--secondy-color);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-family: var(--font-krub);
}

#add-product:hover {
    cursor: pointer;
    background: var(--hover-color);
    transition: .5s;
}

#result-product {
    font-weight: bold;
    color: var(--black-color);
    margin-block: 1.5rem;
}

#products-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    gap: 1rem;
    margin: 2rem 0;
    justify-content: space-between;
}

.prod-card {
    background: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
}

.prod-card button {
    padding: .8rem;
    width: 90%;
    background: var(--secondy-color);
    border: none;
    border-radius: 5px;
    color: var(--white-color);
    cursor: pointer;
    font-family: var(--font-krub);
    font-weight: bold;
}

.prod-card button:hover {
    cursor: pointer;
    background: var(--hover-color);
    transition: .5s;
}

.prod-name {
    font-weight: bold;
    font-family: var(--font-Krona);
    color: var(--primary-color);
}

.container-Add-Product {
    background: var(--white-color);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    flex-direction: column;
    min-width: 30%;
    padding: 20px;
    border-radius: 20px;
    border: none;
    display: flex;
    align-items: center;
    height: auto;
    width: 60%;
    z-index: 1;
    justify-content: center;
    position: fixed;
}

#Add-Item-Product {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
    justify-content: center;
}

.img-prod-up {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-block: 1rem;
}

.img-input-container {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    box-shadow: 2px 3px 12px #00000060;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    backdrop-filter: brightness(0.5);
}

.img-prod-up img {
    width: auto;
    height: 100px;
    position: absolute;
}


.img-prod-up p {
    color: var(--white-color);
    font-weight: bold;
}

.icon-prod-prof {
    position: absolute;
    display: flex;
    justify-content: center;
    font-size: 100px;
    color: var(--white-color);
    opacity: 30%;
    filter: brightness(.7);
    z-index: -1;
}

.icon-cam {
    color: var(--white-color);
    font-size: 30px;

}

.icon-text-cam {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1078px) {
    #prod-header {
        text-align: center;
    }

    #prod-card {
        border-radius: 10px;
        padding: 1rem;
        margin: 0 auto;
        width: 70%;
    }

    #prod-main {
        flex-direction: column;
        gap: 1rem;
        max-height: 100% !important;
        gap: 5rem;
        width: 100%;
        position: relative;
        padding: 1rem;     
    }

    #container-prod-img {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #search-prod {
        flex-direction: column;
    }

    #result-product {
        text-align: center;
    }

    #products-list {
        display: grid;
        grid-template-columns: repeat(2, 200px);
        margin: 2rem 0;
        gap: 1rem;
        justify-content: space-around;
    }

    #card-prod-desc {
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {
    #product-main {
        margin: 0 2rem !important;
    }

    #result-product {
        text-align: center;
    }

    #products-list {
        grid-template-columns: repeat(1, 80%) !important;
    }

    #card-prod-desc {
        justify-content: center;
    }

    .container-Add-Product {
        background: var(--white-color);
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
        flex-direction: column;
        min-width: 30%;
        padding: 20px;
        border-radius: 20px;
        border: none;
        display: flex;
        align-items: center;
        height: auto;
        width: 80%;
        z-index: 1;
        justify-content: center;
        position: fixed;
    }
}