#product-container {
    background-color: var(--gray-color);
    width: 100%;
    height: 100vh;
}

#product-inside {
    background-color: var(--gray-color);
    width: 100%;
    height: max-content;
}

#prod-header {
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#prod-header h1 {
    font-family: var(--font-Krona), sans-serif;
    animation: slideInUp 1s ease forwards;
    font-size: 1.5rem;
    color: var(--primary-color);
}

#prod-header p {
    color: var(--secondy-color);
    text-align: center;
    font-weight: bold;
}

#product-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 4rem;
}

#prod-card {
    background-color: var(--white-color);
    border-radius: 10px;
    padding: 1rem;
    margin: 0 auto;
    width: 70%;
    position: relative;
    animation: scaleIn 1s ease forwards;
}

#text-prod-mes {
    color: var(--white-color);
    background-color: var(--primary-color);
    padding: .5rem 1rem;
    border-radius: 5px;
    position: absolute;
    top: -1rem;
    right: -1rem;
}

#prod-main {
    border-radius: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 0 auto;
    position: relative;
    max-height: 200px;
}

#container-prod-img {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.container-list-img {
    height: 150px;
    width: 150px;
}

.container-list-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

#prod-desc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

#prod-desc h1 {
    color: var(--primary-color);
}

#prod-desc p {
    font-size: 1.2rem;
}

#prod-desc p span {
    font-weight: bold;
    color: var(--primary-color);
}

#card-prod-desc {
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: end;
}

.chartProduct {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
}

#prod-main .tittle-prod {
    color: var(--white-color);
    background-color: var(--primary-color);
    padding: .5rem 1.5rem;
    border-radius: 5px;
    position: absolute;
    top: -1rem;
    right: -1rem;
}

#product-chart {
    background-color: red;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 2rem;
}

#search-prod {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#search-bar {
    display: flex;
    max-width: 400px;
    margin: 1rem 0;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    position: relative;
    width: 100%;
}

#search-bar:focus {
    border: 2px solid var(--secondy-color);
}

#search-product {
    padding: .5rem .8rem;
    width: 100%;
    border-radius: 5px;
    border: 2px solid transparent;
    color: var(--black-color);
    font-family: var(--font-krub);
    font-weight: bold;
}

#search-product:focus {
    border: 2px solid var(--secondy-color);
}

#search-product:focus+#search-icon {
    color: var(--secondy-color) !important;
}

#search-icon {
    position: absolute;
    right: .5rem;
    bottom: 0.2em;
    color: var(--black-color);
    font-size: 1.2rem;
}

#search-product:focus {
    outline: none;
}

#add-product {
    padding: .8rem 2rem;
    background: var(--secondy-color);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-family: var(--font-krub);
}

#add-product:hover {
    cursor: pointer;
    background: var(--hover-color);
    transition: .5s;
}

#result-product {
    font-weight: bold;
    color: var(--black-color);
    margin-block: 1rem;
}

#products-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    gap: 1rem;
    margin: .5rem 0;
    margin-bottom: 2rem;
    justify-content: space-between;
}

.prod-card {
    background: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
}

.prod-card button {
    padding: .8rem;
    width: 90%;
    background: var(--secondy-color);
    border: none;
    border-radius: 5px;
    color: var(--white-color);
    cursor: pointer;
    font-family: var(--font-krub);
    font-weight: bold;
}

.prod-card button:hover {
    cursor: pointer;
    background: var(--hover-color);
    transition: .5s;
}

.prod-name {
    font-weight: bold;
    font-family: var(--font-Krona);
    color: var(--primary-color);
}

@keyframes downAcess {
    0% {
        opacity: 0;
        transform: scaleY(0);
    }
    100% {
        opacity: 1;
        transform: scaleY(1);
    }
}

#Add-Item-Product {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
    justify-content: start;
    overflow: auto;
}

.img-prod-up {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.img-input-container {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    backdrop-filter: brightness(0.5);
}

.img-input-container:hover {
    backdrop-filter: brightness(0.55);
}

#img-input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 5;
}

.img-prod-up img {
    width: auto;
    height: 100px;
    position: absolute;
    filter: brightness(0.7);
}


.img-prod-up p {
    color: var(--white-color);
    font-weight: bold;
}

.icon-prod-prof {
    position: absolute;
    display: flex;
    justify-content: center;
    font-size: 100px;
    color: var(--white-color);
    opacity: 30%;
    filter: brightness(.7);
    z-index: -1;
}

.full-item {
    font-family: var(--font-Krub);
}

.icon-cam {
    color: var(--white-color);
    font-size: 30px;

}

.icon-text-cam {
    display: flex;
    flex-direction: column;
}

.desc-prod {
    resize: none;
    width: 100%;
    padding: .9rem;
    margin-bottom: 1rem;
    background: var(--gray-color);
    border: 2px solid transparent;
    outline: none;
    border-radius: 10px;
    color: var(--black-color);
    font-family: var(--font-Krub);
    height: 100%;
    min-height: 160px;

}

.desc-prod::placeholder {
    font-size: .8rem;
    font-family: var(--font-Krub);
}

.desc-prod:focus {
    border: 2px solid var(--secondy-color);
}

/* Modal */
.container-Detail-Product {
    background: var(--white-color);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    flex-direction: column;
    min-width: 30%;
    padding: 20px;
    border-radius: 20px;
    border: none;
    display: flex;
    align-items: center;
    height: 90%;
    width: 80%;
    z-index: 3;
    justify-content: center;
    overflow-y: hidden;
}

#header-modal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-width: 200px;
}

#Product-Info-Container {
    display: flex;
    width: 100%;
    height: 100%;
}

#infoprod-popup {
    display: flex;
    width: 100%;
    height: 100%;
}

#select-session-prod-btnContainer {
    padding: .3rem .5rem;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    width: fit-content;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: nowrap;
    display: flex;
    gap: 5px;
    margin-bottom: 1rem;
}

.select-session {
    padding: .3rem .5rem;
    background-color: var(--gray-color);
    border-radius: 100px;
    margin: 0 auto;
    cursor: pointer;
    border: none;
    font-family: var(--font-krub) !important;
    font-weight: 500;
    transition: .3s;
    min-width: 120px;
    color: var(--black-color);
}

.selected {
    background-color: var(--primary-color);
    color: var(--white-color);
}

#select-session-prod {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}

#infoprod-charts {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
}

#prodInfo-popup {
    width: 100%;
    text-align: center;
    font-family: var(--font-krub) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 1rem;
}

#prodInfo-popup img {
    animation: spin 1s linear;
    border-radius: 20px;
    outline: 5px solid var(--secondy-color);
    width: 150px;
}

.nameUserProd {
    padding-block: 1rem;
    font-weight: bold;
    color: var(--primary-color);
    opacity: 0;
    animation-delay: 1s !important;
    animation: slideInUp 1s ease forwards;
}

.nameUserProd {
    font-size: 2rem;
    text-wrap: nowrap;
    overflow: hidden;
    max-width: 300px;
    text-overflow: ellipsis;
    color: var(--primary-color);
}

#infoprod-description {
    height: 80%;
    display: flex;
    justify-content: center;
}

#ProdTextInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    opacity: 0;
    animation: slideInUp 1s ease forwards;
}

#ProdTextInfo p span {
    color: var(--secondy-color);
    font-weight: bold;
    opacity: 0;
    animation: slideInUp 1s ease forwards;
    gap: 5px;
}

.text-historico {
    color: var(--primary-color);
}

.text-history {
    color: var(--primary-color);
    text-align: center;
    margin-top: .5rem;
}

#container-ProductColumnChart {
    height: 200px;
}

.graficColunm-prod {
    width: 100%;
    height: 100%;
    margin: 0rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container-table-prod {
    width: 100%;
    margin: 0 auto;
    max-height: 12rem !important;
    overflow: auto;
}

.body-list-prod tr {
    background-color: #EBEDF1;
    font-size: .7rem;
}

.head-list-prod tr {
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: .7rem;
    text-align: center;
}

.head-list-prod {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.body-list-prod tr td,
.head-list-prod tr td {
    height: auto !important;
    padding: 5px !important;
}

.body-list-prod tr td h3 {
    text-wrap: nowrap;
    overflow: hidden;
    max-width: 100px;
    text-overflow: ellipsis;
}

.body-list-prod tr:nth-child(even) {
    background-color: var(--white-color);
}

@keyframes spin {
    from {
        transform: rotateY(180deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

@media screen and (max-width: 1078px) {
    #prod-header {
        text-align: center;
    }

    #prod-card {
        border-radius: 10px;
        padding: 1rem;
        margin: 0 auto;
        width: 80%;
    }

    #product-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #prod-main {
        flex-direction: column;
        gap: 1rem;
        max-height: 100% !important;
        gap: 5rem;
        width: 100%;
        position: relative;
        padding: 1rem;
    }

    #container-prod-img {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #search-prod {
        flex-direction: column;
    }

    #result-product {
        text-align: center;
    }

    #products-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        justify-content: space-between;
    }

    #card-prod-desc {
        justify-content: center;
    }

    #Modal-Add {
        height: auto;
    }

    .container-Add-Product {
        width: 80%;
    }

    .container-Detail-Product {
        width: 90%;
    }

    #Product-Info-Container {
        flex-direction: column;
        gap: 1rem;
        overflow: auto;
        height: auto;
    }

    #container-table-prod {
        width: 100%;
        margin: 0 auto;
        max-height: 12rem !important;
        overflow: hidden;
    }

    #prodInfo-popup {
        width: 100%;
        text-align: center;
        font-family: var(--font-krub) !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        gap: 1rem;
    }

    #prodInfo-popup img {
        animation: spin 1s linear;
        border-radius: 20px;
        outline: 5px solid var(--secondy-color);
        width: 150px;
        margin-top: 1rem;
    }
}


@media screen and (max-width: 480px) {
    #product-main {
        margin: 0 1rem !important;
    }

    #prod-card {
        width: 95%;
    }

    #result-product {
        text-align: center;
        margin-block: 2rem;
    }

    #products-list {
        grid-template-columns: repeat(1, 1fr) !important;
    }

    #card-prod-desc {
        justify-content: center;
    }

    .container-Add-Product {
        background: var(--white-color);
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
        flex-direction: column;
        min-width: 30%;
        padding: 20px;
        border-radius: 20px;
        border: none;
        display: flex;
        align-items: center;
        height: auto;
        width: 90%;
        z-index: 1;
        justify-content: center;
        position: fixed;
    }

    .container-Detail-Product {
        width: 90%;
    }
}