#homepage {
    display: flex;
    overflow: hidden;
    background-color: var(--gray-color);
    
}
#home-screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow-y: auto;
    overflow-x: auto;
}

@media screen and (min-width: 750px) and (max-width: 1030px){
    #home-screen {
    margin-left: 79px;
    }
  }

@media screen and (max-width: 749px){
    #home-screen {
    margin-left: 0;
    }
  }