#report-container {
    background-color: var(--gray-color);
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    width: 100%;
    max-width: 1500px;
    overflow: auto;
}

#report-header {
    padding: 2rem 4rem;
}

#report-header h1 {
    font-family: var(--font-Krona), sans-serif;
    animation: slideInUp 1s ease forwards;
    font-size: 1.5rem;
    color: var(--primary-color);
}

#report-main {
    display: flex;
    justify-content: space-around;
    background-color: var(--gray-color);
    height: max-content;
}

.linha-do-tempo {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 2px;
    height: auto;
    background-color: var(--primary-color);
    margin: 3rem;
    padding: 0 0;
}

.evento {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50px;
}

.ponto {
    position: absolute;
    left: -.55rem;
    display: flex;
    width: 20px;
    height: 20px;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    z-index: 1;

}

#first-dot {
    background-color: #fff;
}

.data {
    margin-left: 30px;
    /* Espaço entre o ponto e o texto */
}

.linha-do-tempo::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    background-color: #333;
    z-index: 0;
}

.ponto::after {
    content: attr(data-label);
    position: absolute;
    color: #333;
    font-size: 14px;
}

#drop-area {
    border-radius: 20px;
    margin-bottom: 1.5rem;
}

.buttonSendFile {
    border: 2px dashed #ccc;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: var(--white-color);
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 4rem;
    color: var(--primary-color);

}

.buttonSendFile:hover {
    background-color: var(--hover-color);
    cursor: pointer;
    color: var(--white-color);
}

#report-icon {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#report-line {
    margin-inline: 3rem;
    background-color: black;
}

input[type="file"] {
    display: none;
}

#report-right header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-inline: 3rem;
}

#file-header {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#title-file {
    padding: 5px;
    outline: none;
    border: 2px solid transparent;
    border-radius: 5px;
}

#title-file:focus {
    border: 2px solid var(--secondy-color);
}

#file-desc {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#desc-file {
    padding: 1rem;
    outline: none;
    border: 2px solid transparent;
    border-radius: 5px;
}

#desc-file:focus {
    border: 2px solid var(--secondy-color);
}

#report-btns {
    display: flex;
    justify-content: space-around;
    margin: 1rem auto;
}

.rep-btn {
    padding: .5rem 2rem;
}

#format-select {
    padding: 10px 20px;
    border: 1px solid var(--white-color);
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
    background-color: var(--white-color);
    color: var(--black-color);
    font-family: var(--font-Krub);
}

#format-select option {
    font-family: var(--font-Krub);
}

#format-select:hover {
    cursor: pointer;
}

#cancel-btn {
    background-color: transparent;
    border-radius: 5px;
    border-color: var(--secondy-color);
    color: var(--secondy-color);
    cursor: pointer;
}

#cancel-btn:hover {
    transform: scale(1.2);
}

#add-rep-btn {
    background-color: var(--secondy-color);
    border-radius: 5px;
    border-color: var(--secondy-color);
    color: var(--white-color);
    cursor: pointer;
}

#add-rep-btn:hover {
    transform: scale(1.2);
}

#report-right {
    width: 90%;
    margin: 0 auto;
}

#report-container {
    padding-inline: 1rem;
    margin: auto;
}

#report-header {
    text-align: center;
}

#report-main {
    display: flex;
    justify-content: space-between;
}

#file-header,
#file-desc {
    margin-bottom: 10px;
}

#report-btns {
    text-align: center;
}

.rep-btn {
    margin: 0 10px;
}

#output {
    height:50%;
    overflow: auto;
    width: 90%;
    margin: 0 auto;
    outline: 5px solid var(--white-color);
    background-color: var(--white-color);
    margin-bottom: 2rem;
}

#output table {
    width: 100%;
    margin: 0 auto;
    height: 50% !important;
    overflow: auto;
}

#output table tbody tr {
    background-color: #EBEDF1;
    font-size: .7rem;
}

#output table thead tr {
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: .7rem;
    text-align: center;
}

#output table thead {
    background-color: var(--primary-color);
    color: var(--white-color);
    position: sticky;
    top: 0;
}

#output table tbody tr td,
#output table thead tr td {
    height: auto !important;
    padding: 5px !important;
    width: 200px !important;
    text-align: center;
}

#output table tbody tr td h3 {
    text-wrap: nowrap;
    overflow: hidden;
    max-width: 200px;
    text-overflow: ellipsis;
}

#output table tbody tr:nth-child(even) {
    background-color: var(--white-color);
}

@keyframes anime {
    0% {
        width: 0%;
    }

    60% {
        width: 50%;
    }
}

.ranking ul li {
    width: 300px;
    padding: 5px 10px;
    color: var(--primary-color);
    font-weight: bold;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 10px;
}

#uploadButton {
    padding: 10px 20px;
    background-color: #1B2947;
    color: white;
    border: 1px solid #1B2947;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
}

#uploadButton:hover {
    background-color: #5B7FFF;
    border: 1px solid #5B7FFF;
}

#cancelFile {
    padding: 10px 20px;
    border: 1px solid var(--secondy-color);
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
    background-color: var(--secondy-color);
    color: var(--white-color);
}

#cancelFile:hover {
    background-color: var(--hover-color);
    border: 1px solid var(--hover-color);
}

.rep-btn[disabled] {
    background-color: #ccc !important;
    color: #999 !important;
    cursor: not-allowed !important;
    border: 1px solid #ccc !important;
}

#receiveFile {
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid #1B2947;
    color: #1B2947;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
    text-decoration: none;
    width: 200px;
}

#receiveFile:hover {
    background-color: var(--white-color);
}

#loadingIndicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#progressBarContainer {
    width: 100%;
    height: 20px;
    margin-top: 10px;
    display: none;
    background-color: #FFFFFF;
    border-radius: 100px;
}

#container-file-loading {
    border: 2px dashed #ccc;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background: var(--white-color);
    width: 100%;
    height: 100%;
    padding: 4rem;
}

@media screen and (max-width: 1078px) {
    #report-header {
        text-align: center;
    }

    #report-main {
        display: flex;
        flex-direction: column;
    }

    #report-right {
        margin-bottom: 2rem;
    }

    #report-btns {
        flex-direction: column;
        align-items: center;

    }

    #exp-form {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 0 !important;
    }

    #search-expense {
        flex-direction: column;
        justify-content: center;
    }

    #filter-expense {
        width: 100%;
        text-align: center !important;
    }

    #exp-cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    #output {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 480px) {
    #output table {
        height: 100% !important;
    }
}

#filter-expense option {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: .8rem 1rem;
    background: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    color: var(--primary-color);
    cursor: pointer;
    font-family: var(--font-krub);
    text-align: center;
}

#filter-expense option:hover {
    background-color: var(--primary-color) !important;
    color: var(--white-color) !important;
    border: 1px solid var(--primary-color);
}